#test {
  color: gray;
}

html {
    -webkit-text-size-adjust: 100%;
}

.chart{
  margin:10px;
}

canvas {
  border: 1px solid black;
}

input{
  margin:10px;
} 

.radio-group, .moveCursor, .lockCursor, button, .showSeries{
  font-size: 1em;
  color:black;
  border: 1px solid #ccc;
  padding: 4px;
  background-color: beige;
  border-radius: 10px;
  margin-left:10px;
	white-space: nowrap;
	transform: none;
  flex-grow: 0;
}

#showSeriesId{
	min-width:70px;
	background: transparent;
	color:black;
	/*padding:2px;*/
	border-radius: 10px;
	border: 1px solid #ccc;
	font-size:.9em;
}

.radio-group span , .moveCursor span, .lockCursor span{
    //font-weight: bold;
    margin-bottom: 4px;
	height: 20px;
}

.radio-group input {
    margin-right: 2px;
}

button{
  font-size:.9em;
}

.moveCursor select, .lockCursor select,
.moveCursor button, .lockCursor button{
    outline: none; /* Remove the focus outline */
    /*border: none;  /* Remove borders */
    background: transparent; /* Remove background color */
    padding: 0 10px 0 10px;
    margin: 0; /* Remove margin */
    box-shadow: none; /* Remove shadow styles */
    font: inherit; /* Ensure font matches the parent span */
    cursor: pointer; /* Ensure it still looks interactive */
	border-radius: 10px;
	border: 1px solid #ccc;
	color:black;
}

.moveCursor, .lockCursor {
    display: inline-flex; /* Align items in a row */
	visibility: hidden;
    gap: 5px; /* Optional spacing between select and button */
    align-items: center; /* Vertically align items */
}

#debug{
	margin-top: 40px;
}

span{
	margin:5px;
}

