#test {
  color: gray;
}

.chart{
  margin:10px;
}

input{
  margin:10px;
} 

.radio-group, .moveCursor, button {
  font-size: 1em;
  color:black;
  border: 1px solid #ccc;
  padding: 4px;
  background-color: beige;
  border-radius: 10px;
  margin-left:10px;
}

.radio-group span , .moveCursor span{
    font-weight: bold;
    margin-bottom: 4px;
	height: 20px;
}

.radio-group input {
    margin-right: 2px;
}

button{
  font-size:.9em;
}

.moveCursor select,
.moveCursor button {
    outline: none; /* Remove the focus outline */
    /*border: none;  /* Remove borders */
    background: transparent; /* Remove background color */
    padding: 0 10px 0 10px;
    margin: 0; /* Remove margin */
    box-shadow: none; /* Remove shadow styles */
    font: inherit; /* Ensure font matches the parent span */
    cursor: pointer; /* Ensure it still looks interactive */
	border-radius: 10px;
	border: 1px solid #ccc;
	color:black;
}

.moveCursor {
    display: inline-flex; /* Align items in a row */
    gap: 5px; /* Optional spacing between select and button */
    align-items: center; /* Vertically align items */
}

