body {
  background: #fafafa;
}

#status
{
  width:600px;
  height:200px;
}

.divider 
{
  height: 2px;
  clear: both;
  /* background-color: #D5CF8E;  */
} 

#canvasdiv
{
  float:left;
  border:2px solid;
  background-color: red;
  padding:10px;
}
#canvas
{
  background-color: yellow;
}

#drawitemdiv
{
  width:300px;
  background-color: green;
  float:left;
  padding:20px;
}